body {
    margin: 0;
}

.hi{
    font-size: 120px;
}

.nav-container{
    display: flex;
/* //    flex-direction: row; */
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    list-style-type: none;
}


.nav_item{
    padding: 15px;
}

.nav_item{
    padding: 20px;
}

.nav_item a{
    text-align: center;
    text-decoration: none;
    color: chartreuse;
}
.nav_item:nth-child(1){
    background-color: chocolate;
}
.nav_item:hover{
    background-color: cornflowerblue;
    background-position: center;
    background: url(../media/profile.png) no-repeat;
}

.index_asd{

    background: url(../media/profile.png) no-repeat;

}